
{% extends 'base.html' %}

{% block content %}

<h2>About Ringventory</h2>
<hr />
<p class="page-content">
  Welcome to Ringventory – the ultimate jewelry inventory management tool designed to streamline the way you manage your precious purchases. With Ringventory, you gain complete control over your jewelry collection, from acquisition to tracking its status in the seller's pipeline. Our platform is tailored for both jewelry enthusiasts and professionals who seek an efficient, secure, and intuitive system to log purchases and monitor their progress. Join Ringventory today and elevate the way you manage your jewelry, transforming complexity into simplicity.
  
  

</p>

<p>
  Currently, Ringventory only offers inventory tracking. Future updates will provide financial features related to the seller's pipeline including Purchase Receipts, Sales, and Analytics. 
</p>

{% endblock %}


