{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/Asset 3.svg' %}"
>
  <link 
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/Asset 3.svg' %}"
  > 
  <title>Ringventory</title>
  <script src="https://kit.fontawesome.com/b1dfb15672.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class='main-con'>
    
    <header class='panel'>
      <div class="panel-top">
        <a href="/">
          <img 
          class='logo-small'
          src="{% static 'images/Asset 4.svg' %}"
          alt="The Ringventory Logo"
          >
        </a>
        <nav class='links'>
          <ul>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/purchases">Purchases</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer">
        <hr>
        <p>Ringventory</p>
        <p><b>©️</b>2024</p>
        <div class='icons'>
          
          <a href="https://github.com/TheBerlinMan"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/thomas-onik/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </div>
</body>
</html>