.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 20%);
  border-radius: 10px;
  padding: 10px 20px;
}

h1{
  color: white;
  padding: 0;
  margin: 0;
}

.top > section > .buttons{
  gap: 8px;
}

.page-header > .buttons > a{
  border: 1px white solid;
  border-radius: 4px;
  padding: 6px 9px;
  background-color: white;
  color: rosybrown;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

.page-header > .buttons >  a:hover{
  border: 1px rosybrown solid;
  border-radius: 4px;
  padding: 6px 9px;
  background-color: rosybrown;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

h2,p{
  color: white;
  padding-left: 20px;
}

img{
  width: 500px;
  padding: 20px;
}