{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/rings/ring-detail.css' %}"
/>
{% endblock %}

{% block content %}

<div class="top">
  
  <section class="page-header">
    <h1>Ring #{{ring.id}}</h1>
    <div class="buttons">
      <a href="{% url 'ring-update' ring.id %}">Edit Ring</a>
      <a href="{% url 'ring-delete' ring.id %}">Delete Ring</a>
    </div>
    
  </section>
</div>

<section class="ring-container">
  <div class="ring-img">
    <img 
      src="{% static 'images/default-ring.jpeg' %}" 
      alt="default ring"
    >
  </div>
  <div class="ring-details">
    <h2>{{ ring.name }}</h2>
    <p><b>Status: </b>{{ ring.status }}</p>
    <p><b>Size: </b>{{ ring.size }}</p>
    <p><b>Metal: </b>{{ ring.metal }}</p>
    <p><b>Stone: </b>{{ ring.stone }}</p>
    <p><b>Condition:</b> {{ ring.condition }}</p>
    <p><b>Weight: </b>{{ ring.weight }}g</p>
    <p><b>Price: </b>${{ ring.price }}</p>
    <p><b>Purchased At:</b> {{ ring.purchase_point }}</p>
    <p><b>Purchased Date:</b> {{ ring.purchase_date }}</p>

  </div>
</section>

{% endblock %}

