{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/rings/ring-index.css' %}"
/>
{% endblock %}

{% block content %}

<div class="top">
  
  <section class="page-header">
    <h1>Inventory</h1>
    <a href="{% url 'ring-create' %}">Add Ring</a>
  </section>

</div>
<div class="bottom">
  
  {% comment %} <section class="card-container">
    {% for ring in rings %}
    <a href="{% url 'ring-detail' ring.id %}">
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img 
            class='default-img'
            src="{% static 'images/default-ring.jpeg' %}" 
            alt="a ring"
            >
          </div>
          <h2 class="card-title">{{ ring.name }}</h2>
          <p> condition:{{ ring.condition }}</p>
          <p>sz {{ ring.size }} </p>       
        </div>
      </div>
    </a>
    {% endfor %}
  </section> {% endcomment %}


  <table class="list">
    <thead>
      <tr>
        <th>Action</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Size</th>
        <th>Metal</th>
        <th>Stone</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
      {% for ring in rings %}
      
        <div>
          <td><a href="{% url 'ring-detail' ring.id %}">Select</a></td>
          <td>{{ring.id}}</td>
          <td>{{ring.name}}</td>
          <td>{{ring.status}}</td>
          <td>{{ring.size}}</td>
          <td>{{ring.metal}}</td>
          <td>{{ring.stone}}</td>
          <td>{{ring.condition}}</td>
        </div>
      
      {% endfor %}
    </tbody>

  </table>




</div>


{% endblock content %}

# name
# status
# size
# metal
# stone
# condition
# weight
# price
# purchase_point
# purchase_date
