{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/rings/ring-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Inventory</h1>

</section>

<section class="card-container">
  {% for ring in rings %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/ring3.svg' %}" 
            alt="a ring"
          >
        </div>
        <h2 class="card-title">{{ ring.name }}</h2>
        
          <p> condition:{{ ring.condition }}</p>
        
          <p>sz {{ ring.size }} </p> 
        
        
      </div>
    </div>
  {% endfor %}
</section>

{% endblock content %}